*
{
    margin: 0;
    padding: 0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
html{
    background-color: #1e1e1e;
}

.section
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    flex-direction: column;
    margin-top: 5vh;
}
.section > h1 {
    font-size: 7vmin;
}

